* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #FF3B3C;
  color: white;
  padding: 20px 75px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}
header div input {
  width: 250px;
  border: 1px solid gray;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}
header div ul {
  display: flex;
  position: relative;
}
header div ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
header div ul li a {
  text-decoration: none;
}
header ul li a .fa-brands {
  font-size: 3em;
  color: #222;
}
header ul li::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
header ul li:nth-child(1)::before {
  content: "\f16d";
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}
header ul li:nth-child(2)::before {
  content: "\f232";
  color: #25D366;
  border-bottom: 4px solid #25D366;
}
header ul li:nth-child(3)::before {
  content: "\f099";
  color: #1DA1F2;
  border-bottom: 4px solid #1DA1F2;
}
header ul li:hover::before {
  height: 100%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

main .product-details {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 30px 200px;
  justify-content: center;
}
main .product-details-images, .product-details-info, .product-details-purchase {
  flex: 1;
}
main .product-details-images {
  display: grid;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
main .product-details-images .little-image {
  width: 100%;
}
main .product-details-images .little-image .image1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
main .product-details-images .little-image .image2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
main .product-details-images .image3 {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 7;
}
main .product-details-info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  word-wrap: break-word;
}
main .product-details-info h1 {
  font-size: 30px;
}
main .product-details-info h4 {
  margin: 20px 0 5px 0;
}
main .product-details-info .select {
  width: 100%;
  border-radius: 10px;
  height: 2em;
  overflow: hidden;
}
main .product-details-purchase {
  background-color: lightgray;
  border-radius: 10px;
  padding: 30px 20px;
  font-size: 15PX;
}
main .product-details-purchase h4 {
  color: #dc2743;
  font-weight: lighter;
  font-size: 20px;
}
main .product-details-purchase h2 {
  margin: 10px 0;
  font-size: 30px;
}
main .product-details-purchase .product-details-purchase-icon {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  gap: 10px;
  margin: 10px 0;
}
main .product-details-purchase .product-details-purchase-confirm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 2.5em;
  gap: 1em;
  margin: 20px 0;
}
main .product-details-purchase .product-details-purchase-confirm input{
  border-radius: 10px;
  border: 0px solid gray;
  width: 20%;
  text-align: center;
  font-size: 15px;
}
main .product-details-purchase .product-details-purchase-confirm button{
  border-radius: 10px;
  border: 0px solid gray;
  background-color: red;
  color: white;
  width: 80%;
  cursor: pointer;
  font-size: 15px;
}
main .product-offers h2 {
  text-align: center;
  font-size: 60px;
  margin: 30px 0 10px 0;
}
main .product-offers div {
  padding: 30px 200px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  gap: 5em;
  justify-content: center;
}
main .product-offers div article {
  border-radius: 25px;
  overflow: hidden;
  background-color: lightgray;
  color: #0f161b;
  border: 1px solid transparent;
}
main .product-offers div article img {
  width: 100%;
}
main .product-offers div article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 5px 15px;
  color: black;
  gap: 5px;
}
main .product-offers div article div .titulo {
  font-size: 25px;
  font-weight: bolder;
}
main .product-offers div article div .color {
  font-size: 15px;
  color: gray;
}
main .product-offers div article div .precio {
  font-size: 20px;
  font-weight: bolder;
}
main .product-offers div article div .precio .descuento {
  color: green;
  float: right;
  font-size: 17px;
}
main .product-offers div article div .comentario {
  font-style: italic;
  font-size: 15px;
  color: gray;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(120,0,200);
  color: white;
  padding: 20px 75px;
  text-align: center;
}
footer .extras {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
footer .extras h4 {
  font-size: 20px;
  font-weight: normal;
}
footer .extras hr {
  display: block;
  width: 100%;
  margin: 10px 0;
}
footer .extras p {
  font-size: 15px;
  font-weight: lighter;
}
footer hr {
  margin: 20px 0;
}

